* { box-sizing: border-box; -moz-box-sizing: border-box; }
html, body { font-family: 'Source Sans Pro', sans-serif; -webkit-font-smoothing: antialiased; -webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;-o-font-smoothing: antialiased; 
	.global-container { width: 100%; position: relative; max-width: 960px; margin: auto; padding: 0px 40px; }

	.hidden { display: none; }

	.nav { width: 140px; top: 0rem; position: fixed; border-right: 1px solid #EEE; height: 100%; margin-left: -200px;
		> ul { margin-top: 280px;
			> li { width: 100%; background: none; padding: 0px; @include Transition(300ms);

				a { text-decoration: none; color: #000; display: block; padding: 4px 10px; }

				&:hover { background: #EEE; }
				&.cur { background: #000;
					a { color: #FFF; }
				}
			}
		}
	}

	hr { border: none; border-top: 1px solid; }
	a { text-decoration: none; font-weight: bold; color: inherit; }
	h1 { @include GlobalCopy(); @include Playfair(); font-size: 64px; margin-bottom: 20px; }
	h3 { @include GlobalCopy(); font-size: 28px; margin-bottom: 20px; }
	h4 { @include GlobalCopy(); font-size: 28px; text-transform: uppercase; @include Playfair(); margin-bottom: 20px; }
	h5 { @include GlobalCopy(); font-size: 16px; font-weight: bold; margin-bottom: 20px; }
	span, p { display: inline-block; @include GlobalCopy(); font-size: 16px; opacity: 0.8; }
	ul { @include GlobalCopy(); margin-bottom: 20px;
		li { display: inline-block; float: left; background: #EEE; padding: 4px 10px; margin-bottom: 10px; margin-right: 10px; }
		&:after { clear: both; display: block; content: ""; }
	}

	header {
		.intro { padding-top: 160px; padding-bottom: 40px; display: inline-block;
			h1 { }

			h3 { padding-top: 20px; line-height: 30px;
				span { display: inline-block; vertical-align: middle; font-size: 28px;
					&.divider { height: 30px; width: 1px; background: #000; margin-left: 10px; margin-right: 10px; }
				}
			}
		}
	}

	#body { perspective: 800px; perspective-origin: 50% 50%; overflow: hidden; }

	.page { display: none; transform-origin: left; @include Transition(600ms); perspective-origin: 50% 50%; perspective: 800px; }

	.page.cur { display: block; opacity: 1; transform: rotateY(0deg); }
	.page.transitionout { display: block; position: absolute; opacity: 0; @include Transition(0.8s); transform: rotateY(40deg);  }
	.page.transitionin { display: block; position: absolute; opacity: 0; transform: rotateY(-10deg);  }


	.animBlock { opacity: 0; transform: rotateY(-1deg); @include Transition(0.8s); transform-origin: left;  }
	.page.cur {
		.animBlock.run { opacity: 1; transform: rotateY(0deg); }
	}

	.cvContent { max-width: 800px;
		p { margin-bottom: 20px; }
		.opening { }
		.about { margin-top: 100px;
			.whatAmI { max-width: 600px;
				p { font-size: 20px; }
			}

			.extracurricular {
				.past { opacity: 0.4; }
			}
		}



		.experience { margin-top: 100px;
			.positions {
				.position { width: 100%; display: block; margin-bottom: 20px;
					.col { display: inline-block; float: left;
						&.when { width: 20%; }
						&.what { width: 80%;
							.role { width: 100%; font-size: 20px; }
							.company { width: 100%; font-weight: bold; }
							.description { width: 80%; }
						}
					}

					&:after { clear: both; display: block; content: ""; }
				}
			}
		}

		.recommendations { margin-top: 100px;
			.recs {
				.rec { margin-bottom: 20px;
					.name { display: block;font-size: 20px; }
					.role { display: block; font-weight: bold; }
					.said { margin-top: 10px; }
					.when { opacity: 0.6; }
				}
			}
		}
	}

	footer { margin-top: 100px; padding-top: 40px; padding-bottom: 60px; background: #EEE;
		p { display: block; padding-right: 20px; padding-top: 20px; }
	}
}