@media all {
	.page-break	{ display: none; }
}

@media print {
	@page { size: auto; margin: 25px; margin: 25mm 25mm 25mm 25mm; }

	html, body { width: 100% !important; max-width: 100% !important; margin: 0px !important; }
	.global-container { margin: 0px !important; width: 100% !important; max-width: 100% !important; padding: 0px !important; }
	.nav { display: none !important; }
	.page { display: block !important; opacity: 1 !important; position: relative; height: 100%;
		.content { width: 100% !important; max-width: 100% !important; margin: 0px !important; }
		.animBlock { display: block !important; opacity: 1 !important; }
		.contactForm { display: none !important; }
		&[data-name="contact"] { .or { display: none !important; } } 
		&[data-name="pagenotfound"] { display: none !important; }
	}
	footer { display: none !important; }
	.page-break	{ display: block; page-break-before: always; }

	hr { opacity: 0.6; }
	h1 { font-size: 32pt !important; margin-bottom: 20px; }
	h3 {font-size: 16pt; margin-bottom: 20px; }
	h4 { font-size: 28px; text-transform: uppercase; @include Playfair(); margin-bottom: 20px; }
	h5 {font-size: 16px; font-weight: bold; margin-bottom: 20px; }
	span, p { display: inline-block; @include GlobalCopy(); font-size: 16px; opacity: 0.9; }
	ul { @include GlobalCopy(); margin-bottom: 20px;
		li { display: inline-block; float: left; background: #EEE; padding: 4px 10px; margin-bottom: 10px; margin-right: 10px; }
		&:after { clear: both; display: block; content: ""; }
	}
}