@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

:root {
	--brand: #2d413a;
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: #d7d7d7;
	color: var(--brand);
	text-align: center;
}

body {
	min-height: 100%;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

h1, h2 {
	padding: 0rem 1rem;
	margin: 0rem 5rem;
}

h1 {
	font-size: 5rem;
	position: relative;
	overflow: hidden;
	line-height: 1.2;
}

h2 {
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: 0.1rem solid;
	font-size: 1.6rem;
}

ul#contact-items {
	list-style: none;
	padding: 0rem;
	margin: 0rem;
	margin-top: 2rem;
	display: flex;
}

ul#contact-items li {
	margin: 0.5rem;
}

ul#contact-items li a {
	color: black;
	text-decoration: none;
	display: inline-block;
	padding: 0.5rem 0.9rem;
	background: rgba(255,255,255,0.3);
}

@media screen and (max-width: 768px) {
	h1, h2 {
		margin: 0rem 3rem;
	}

	h1 {
		font-size: 3rem;
		margin-bottom: 1rem;
		padding-bottom: 0.5rem;
	}

	h2 {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	ul#contact-items {
		flex-direction: column;
	}
}

@media screen and (max-width: 375px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 1.6rem;
	}

	ul#contact-items {
		flex-direction: column;
	}
}